/* navigation menu */
#navbar{
    flex-direction: column;
}
#navbar ul li a{
    font-size: 1rem;
    padding: 0 7px;
}
#navbar ul{
    padding-bottom: 8px;
}



/* home */
#home{
      height: 390px;
      padding:70px 34px;
}
#home::before{
    height:760px;
}


/* services */
#services{
    flex-direction: column;
    


}
#services .box{
    padding:1px 20px;
}
#services .box img{
   height: 97px;
}
/* client section */
#clients{
    flex-wrap: wrap;
}
#clients img{
    width: 92px;
    height: auto;
}

/* contact */
#contact-box form{
    width: 80%;
}
/* utility classes */
.primary{
    font-size: 70px;
}
.btn{
    font-size: 36px;
    padding: 4px 5px;
}
.foot{
    display: block;
}
.foot img{
    width: 50px;
}
.footmenu{
    display: block;
    
}
.footmenu ul{
    margin-bottom: 20px;
}
.logocontent{
    display: flex;
}